<% if @chat_thread %>
  <pre style="display: none;"><%= @chat_thread.context %></pre>
  <h1 id="thread-title"><%= @chat_thread.title %></h1>
  <div id="thread-controls">
    <button id="new-thread-btn" class="thread-control-btn">+</button>
    <button id="show-threads-btn" class="thread-control-btn">❏</button>
  </div> 
  <div id="chat-container">
    <div id="prompts-list">
      <% @chat_thread.prompts.each do |prompt| %>
        <% if prompt.content.present? %>
          <div class="prompt-box">
            <p class="prompt">You:</p>
            <p class="prompt-text"><%= simple_format(h(prompt.content)) %></p>
          </div>
          <div class="response-box">
            <p class="response">GPT:</p>
            <p class="response-text" data-markdown><%= prompt.response %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= form_with(model: [@chat_thread, @prompt], id: 'generation-form', remote: true) do |form| %>
    <div class="textarea-with-submit-inside">
      <%= form.text_area :content, class: "rounded-corners" %>
      <%= form.submit '↑', class: "submit-within-textarea rounded-corners" %>
    </div>
  <% end %>
<% else %>
  <div id="thread-controls">
    <button id="show-threads-btn" class="thread-control-btn">❏</button>
  </div>
  <div class="center-container">
    <button id="new-thread-btn">Start New Chat ▶</button>
  </div>
<% end %>

<div id="threads-modal">
  <div id="threads-modal-content">
    <button id="close-threads-btn">&times;</button>
    <h2 class="modal-title">スレッド一覧</h2>
    <div id="threads-list"></div>
  </div>
</div>